<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deepak.myblooddonationapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blooddonate"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ProfileAcitvity" />
        <activity android:name=".SearchListActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".HospitalSignupActivity" />
        <activity android:name=".HospitalLoginActivity" />
        <activity android:name=".HospitalProfileActivity" />
        <activity android:name=".HospitalDashboardActivity" />
        <activity android:name=".HospitalSearchListActivity"></activity>
    </application>

</manifest>